p {
  margin: 0;
}

body {
  overflow-y: scroll !important;
}

.response-message {
  top: 6rem !important;
  right: 1.5rem !important;
  z-index: 200;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.middle {
  margin-bottom: 3rem;
}

.content {
  background-color: #c1c1c1 !important;
}

.card {
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  border: none;
  border-radius: 0;
}

.card .card-img-top {
  border-radius: 0;
}

.card .card-text {
  color: var(--clr-neutral-400);
}

.side-profile-image {
  cursor: pointer;
  width: 32%;
  max-width: 7rem;
  max-height: 7rem;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.side-profile-image:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-profile-content {
  margin-top: 3vw;
}

.side-profile-content .title {
  color: var(--clr-primary-text);
}

.people-heading {
  font-size: 1.125rem;
}

.people-heading::before {
  bottom: -12px;
  left: 24px;
  width: 2.5rem;
  height: 1px;
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
}

.people-may-know-user {
  cursor: pointer;
}

.people-may-know-user:hover {
  background-color: var(--clr-neutral-100);
}

.people-may-know-user img {
  width: 2.5rem;
  height: 2.5rem;
}

.may-know-image-placeholder {
  width: 2.5rem;
  height: 2.5rem;
}

.search-image-wrapper {
  padding-right: 0.5rem;
}

.search-text {
  padding-block: 0.6875rem;
  color: var(--clr-neutral-400);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-text:hover {
  background-color: #d3d3d3 !important;
}

.post-user-info {
  cursor: pointer;
}

.post-user-helpers .bx {
  cursor: pointer;
  font-size: 1.625rem;
  padding: 0.25rem;
  color: var(--clr-secondary-icon);

  transition: background-color 0.2s ease;
}

.post-user-helpers .bx:hover {
  background-color: #f2f2f2;
}

.post-body-show-button[aria-expanded="true"] {
  display: none;
}

.likes-icon {
  margin-right: 0.325rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  background-color: var(--clr-primary);
  color: white;
}

.like-comment-share {
  border-radius: 4px;
  cursor: pointer;
}

.like-comment-share:hover {
  background-color: var(--clr-neutral-100);
}

.comment {
  border-radius: 1rem;
}

.comment-user {
  cursor: pointer;
}

.comment-edit {
  border-radius: 1rem;
}

.more-comments {
  cursor: pointer;
}

.more-comments:hover {
  text-decoration: underline;
}

.comment-options i {
  cursor: pointer;
}

.comment-options i:hover {
  background-color: var(--clr-neutral-100);
}

.comment-helper {
  cursor: pointer;
}

.comment-helper:hover {
  text-decoration: underline;
}

.comment-input,
.comment-input-edit {
  font-size: 0.925rem;
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
  background-color: #f2f2f2;
  border: none;
  color: black;
}

.comment-input-edit {
  padding-inline: 0;
  padding-left: 0.25rem;
}

.comment-input:focus,
.comment-input-edit:focus {
  color: black;
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.comment-send,
.comment-send-edit {
  background-color: #f2f2f2;
  border: none;
  border-radius: 100vmax;
}

.comment-send-edit {
  padding-right: 0;
}

.comment-send i,
.comment-send-edit i {
  padding: 0.45rem;
  color: var(--clr-primary);
  font-weight: bold;
  cursor: pointer;
}

.comment-send i:hover,
.comment-send-edit i:hover {
  background-color: #dddddd;
}

.comment-options i[aria-expanded="true"] {
  background-color: var(--clr-neutral-100);
}

.comment-options-dropdown {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.delete-no-button {
  transition: background-color 0.15s ease;
}

.delete-no-button:hover {
  background-color: #dddddd;
}

@media (min-width: 75em) {
  .side-profile-content .title {
    font-size: var(--size-600) !important;
  }
}

@media (max-width: 75em) {
  .side-profile-content .card-text {
    font-size: var(--size-200);
  }
}

@media (max-width: 62em) {
  .right {
    display: none;
  }
}

@media (min-width: 60em) {
  .search-button-mobile {
    display: none;
  }
}

@media (max-width: 60em) {
  .user-search-container {
    display: none !important;
  }

  .site-logo {
    padding-block: 1rem !important;
  }

  .page-nav .home-nav-item {
    padding-block: 1rem !important;
  }

  .page-nav .users-nav-item {
    padding-block: 0.875rem !important;
  }

  .header-links i {
    font-size: 1.5rem;
  }

  .header-links .fa-users {
    font-size: 1.425rem;
  }

  .side-profile-content .card-text {
    font-size: var(--size-200);
  }
}

@media (max-width: 48em) {
  .left {
    display: none;
  }
}

@media (max-width: 40em) {
  .page-nav {
    display: none !important;
  }
}
