p {
  margin: 0;
}

body {
  overflow-y: scroll !important;
}

.middle {
  margin-bottom: 3rem;
}

.nav-icon-button {
  border-radius: 100vmax;
  height: 2.75rem;
  width: 2.75rem;
}

.nav-icons {
  line-height: 1.5;
}

.search-button .nav-icons {
  font-size: 1.25rem;
  color: var(--clr-secondary-icon);
}

.header-links i {
  font-size: 2rem;
  color: var(--clr-secondary-icon);
}

.nav-item:not(.active) a:hover {
  background-color: #eeeeee;
  border-radius: 4px;
}

.nav-item.active i {
  color: var(--clr-primary);
}

.nav-item.active {
  border-bottom: solid 3px var(--clr-primary);
}

.custom-tooltip {
  --bs-tooltip-bg: rgb(21, 19, 19);
  --bs-tooltip-color: white;
}

.search-dropdown {
  width: 100%;
  max-width: 18rem !important;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mobile-nav-arrow-container {
  padding: 0.35rem 0.5rem;
  border-radius: 100vmax;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.mobile-nav-arrow-container:hover {
  background-color: #e8e8e8;
}

.mobile-nav-arrow {
  font-size: 1.35rem;
  line-height: 1.35;
  color: #606770;
  transition: font-weight 0.2s ease;
}

.mobile-nav-arrow-container:hover .mobile-nav-arrow {
  font-weight: bold;
}

.search-button-mobile[aria-expanded="true"] {
  display: none;
}

.mobile-dropdown-search {
  font-size: 0.925rem;
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
  background-color: #f2f2f2;
  color: black;
}

.mobile-dropdown-search:focus {
  color: black;
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.content {
  background-color: #c1c1c1 !important;
}

.card {
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  border: none;
  border-radius: 0;
}

.card .card-img-top {
  border-radius: 0;
}

.card .card-text {
  color: var(--clr-neutral-400);
}

.side-profile-image {
  width: 32%;
  max-width: 7rem;
  max-height: 7rem;
  background-color: white;
}

.side-profile-content {
  margin-top: 4vw;
}

.side-profile-content .title {
  color: var(--clr-primary-text);
}

.search-image-wrapper {
  padding-right: 0.5rem;
}

.search-text {
  padding-block: 0.6875rem;
  color: var(--clr-neutral-400);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-text:hover {
  background-color: #d3d3d3 !important;
}

.post-user-helpers .bx {
  cursor: pointer;
  font-size: 1.625rem;
  padding: 0.25rem;
  color: var(--clr-secondary-icon);

  transition: background-color 0.2s ease;
}

.post-user-helpers .bx:hover {
  background-color: #f2f2f2;
}

.post-body-show-button[aria-expanded="true"] {
  display: none;
}

.likes-icon {
  margin-right: 0.325rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  background-color: var(--clr-primary);
  color: white;
}

.like-comment-share {
  border-radius: 4px;
  cursor: pointer;
}

.like-comment-share:hover {
  background-color: var(--clr-neutral-100);
}

.comment {
  border-radius: 1rem;
}

.more-comments {
  cursor: pointer;
}

.more-comments:hover {
  text-decoration: underline;
}

.comment-options i {
  cursor: pointer;
}

.comment-options i:hover {
  background-color: var(--clr-neutral-100);
}

.comment-helper {
  cursor: pointer;
}

.comment-helper:hover {
  text-decoration: underline;
}

.comment-input {
  font-size: 0.925rem;
  padding: 0.5rem 1rem;
  border-radius: 100vmax;
  background-color: #f2f2f2;
  border: none;
  color: black;
}

.comment-input:focus {
  color: black;
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.comment-send {
  background-color: #f2f2f2;
  border: none;
  border-radius: 100vmax;
}

.comment-send i {
  padding: 0.45rem;
  color: var(--clr-primary);
  font-weight: bold;
  cursor: pointer;
}

.comment-send i:hover {
  background-color: #dddddd;
}

.comment-options i[aria-expanded="true"] {
  background-color: var(--clr-neutral-100);
}

.comment-options-dropdown {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.delete-no-button {
  transition: background-color 0.15s ease;
}

.delete-no-button:hover {
  background-color: #dddddd;
}

@media (min-width: 75em) {
  .side-profile-content .title {
    font-size: var(--size-600) !important;
  }
}

@media (max-width: 75em) {
  .side-profile-content .card-text {
    font-size: var(--size-200);
  }
}

@media (max-width: 62em) {
  .right {
    display: none;
  }
}

@media (min-width: 60em) {
  .search-button-mobile {
    display: none;
  }
}

@media (max-width: 60em) {
  .user-search-container {
    display: none !important;
  }

  .site-logo {
    padding-block: 1rem !important;
  }

  .page-nav .home-nav-item {
    padding-block: 1rem !important;
  }

  .page-nav .users-nav-item {
    padding-block: 0.875rem !important;
  }

  .header-links i {
    font-size: 1.5rem;
  }

  .fa-users {
    font-size: 1.425rem;
  }

  .side-profile-content .card-text {
    font-size: var(--size-200);
  }
}

@media (max-width: 48em) {
  .left {
    display: none;
  }
}

@media (max-width: 40em) {
  .page-nav {
    display: none !important;
  }
}
